extends ../layout

block content
  a(href='/bicicletas') Volver
  h1 Mostrar Bicicleta
  br
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicaion latitud
        th(scope='col') Ubicaion longitud
    tbody
      form(action=`/bicicletas/${bici.id}/show` method='get')
        td(scope='row')
          = bici.id
        td= bici.color
        td= bici.modelo
        td= bici.ubicacion[0]
        td= bici.ubicacion[1]

